<div class="card-columns mt-5">
    <div class="card" ng-repeat="product in products track by $index" title="{{addTitle(product.status)}}">
        <img src="/app/assets/images/image.png" class="card-img-top" alt="product">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            </span>
            <h4 class="float-left">{{product.price}}</h4> <span class="badge badge-success small"> {{product.stock}}
                available</span>
            <button type="button" ng-click="addProduct(product)" ng-disabled="product.status || product.stock===0"
                class="btn btn-primary btn-block my-1">
              <i class="fas fa-cart-plus"></i>  Add cart
            </button>
        </div>
    </div>
</div>