<div class="table-responsive">
    <a href="" ng-click="empty()">
        <i class="fas fa-cart-arrow-down"></i> Empty shopping cart
    </a>
    <table class="table">
        <thead>
            <th>
                Product Name
            </th>
            <th class="text-right">
                Unit price
            </th>
            <th class="text-right">
                Quantity
            </th>
            <th class="text-right">
                SubTotal
            </th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart track by $index">
                <td>{{item.name}}</td>
                <td class="text-right">{{item.price}}</td>
                <td class="text-right">{{item.quantity}}</td>
                <td class="text-right">{{getSubTotal(item)}}</td>
                <td class="text-center">
                    <a href="" title="Delete item" ng-click="removeProduct(item)"> <i
                            class="fas fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="text-right"><strong>Total</strong></td>
                <td class="text-right">${{getGrandTotal()}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <a ng-href="/">Continue shopping</a>
</div>